@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("fonts/open-sans-v20-latin_cyrillic-300.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("fonts/open-sans-v20-latin_cyrillic-700.ttf");
  font-weight: 700; }

body, p, div, ul, li, a, nav, section, span, h1, h2, h3, h4, h5, input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #666666;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

h2 {
  font-size: 25px; }

.wrapper {
  margin: 0 auto;
  width: 1220px;
  padding: 0 15px; }

.line {
  min-width: 0;
  display: flex;
  justify-content: space-around; }

.line-center {
  min-width: 0;
  display: flex;
  justify-content: center; }

/* header */
.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px #000;
  z-index: 2; }
  .header .line {
    justify-content: space-between; }

.menu {
  padding-top: 20px;
  list-style-type: none;
  display: flex; }
  .menu a {
    height: 40px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none; }
    .menu a:hover {
      border-radius: 20px 20px;
      background: #337ab7;
      color: #fff; }

.burger {
  display: none; }

.registration {
  padding-top: 150px;
  padding-bottom: 30px;
  background: #f7f7f7; }

.about {
  padding-top: 185px;
  width: 540px;
  text-align: center;
  bottom: 0; }
  .about h1 {
    color: #333;
    padding: 0 10px 30px 10px;
    font-size: 25px;
    font-weight: bold; }
  .about p {
    width: 510px;
    text-wrap: normal;
    margin: 0 auto; }

.reg h2 {
  color: #333;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: left; }

.reg input {
  margin-bottom: 5px;
  height: 50px;
  width: 590px;
  padding: 0 10px;
  display: block; }
  .reg input:focus {
    box-shadow: 0 0 5px #00b3ff;
    outline: none;
    border-radius: 5px;
    border: 1px solid #00b3ff; }

.reg .confirm {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative; }
  .reg .confirm input {
    width: 13px;
    height: 13px;
    margin: 0 10px 0 0; }
  .reg .confirm p a {
    text-decoration: none;
    color: #3b7cac; }

.reg .btn {
  margin: 0 auto;
  width: 370px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  background: #337ab7;
  border: none;
  border-radius: 25px 25px; }

.develop {
  padding-top: 70px;
  padding-bottom: 120px; }
  .develop h2 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px; }
  .develop .course {
    margin: 0 35px 0 35px; }
    .develop .course img {
      display: block;
      margin: 0 auto; }
    .develop .course .course-title {
      font-size: 1.2em;
      padding-bottom: 15px;
      border-bottom: 1px solid #3498db;
      text-align: center; }
    .develop .course .description {
      padding-top: 30px;
      text-wrap: normal;
      text-align: center; }

.devSlider1 {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .devSlider1 .slick-dots {
    display: flex;
    align-items: start;
    justify-content: center; }
  .devSlider1 .slick-dots li {
    list-style: none; }
  .devSlider1 .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 35px;
    border: none;
    background-color: #b3b3b3;
    border-radius: 50%; }
  .devSlider1 .slick-active button {
    background-color: #666666; }

.devSlider2 {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .devSlider2 .slick-dots {
    display: flex;
    align-items: start;
    justify-content: center; }
  .devSlider2 .slick-dots li {
    list-style: none; }
  .devSlider2 .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 35px;
    border: none;
    background-color: #b3b3b3;
    border-radius: 50%; }
  .devSlider2 .slick-active button {
    background-color: #666666; }

.achievements {
  background: #3498db;
  padding-top: 70px;
  padding-bottom: 70px; }
  .achievements .line {
    justify-content: center; }
    .achievements .line .line {
      width: 50%; }
  .achievements .achieve-item {
    width: 100%; }
    .achievements .achieve-item img {
      display: block;
      margin: 0 auto; }
    .achievements .achieve-item span {
      display: block;
      color: #fff;
      font-size: 27px;
      text-align: center; }
    .achievements .achieve-item .achieve-desc {
      color: #fff;
      text-align: center;
      text-wrap: none; }

.main-sl-cont {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .main-sl-cont img {
    max-width: 30px;
    max-height: 27px;
    height: 15%;
    width: 10%; }
  .main-sl-cont .right {
    align-self: end;
    padding-bottom: 2%; }

.slide .author {
  text-align: center;
  padding-bottom: 100px; }

.slide .name {
  display: block;
  color: #333; }

.response {
  padding-top: 70px; }
  .response .response-title {
    font-size: 1.2em;
    text-align: center; }
  .response .response-text {
    display: block;
    padding: 30px 30px;
    width: 760px;
    text-align: center; }

.slider {
  margin: 0 auto;
  width: 90%;
  overflow: hidden; }

.slick-track {
  display: flex; }

.slider {
  position: relative;
  z-index: 1; }
  .slider .slick-dots {
    display: flex;
    align-items: start;
    justify-content: center; }
  .slider .slick-dots li {
    list-style: none; }
  .slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 35px;
    border: none;
    background-color: #b3b3b3;
    border-radius: 50%; }
  .slider .slick-active button {
    background-color: #666666; }

.video {
  background: #f7f7f7;
  padding: 70px 0; }
  .video .video-text h2 {
    font-size: 1.2em;
    padding-bottom: 20px;
    text-align: center; }
  .video .video-text .video-description {
    text-align: center;
    padding-bottom: 20px; }
  .video .media-content {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin: 0 auto; }

.mentors {
  padding: 60px 0; }
  .mentors h2 {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 40px; }
  .mentors .mentor {
    display: flex;
    flex-direction: row; }
    .mentors .mentor img {
      display: block;
      position: relative;
      top: 30px;
      margin-right: 80px; }
    .mentors .mentor .mentor-description {
      width: 680px; }
      .mentors .mentor .mentor-description h3 {
        color: #3498db;
        border-bottom: 1px solid #f7f7f7;
        padding-bottom: 15px;
        margin-bottom: 30px; }
      .mentors .mentor .mentor-description p {
        padding-bottom: 15px;
        text-wrap: normal; }

.contacts {
  padding: 30px 0;
  background: #3498db; }
  .contacts .line .line {
    width: 50%; }
  .contacts .contact-item icon {
    display: block;
    margin: 0 auto; }
  .contacts .contact-item i {
    color: #fff;
    font-size: 50px;
    display: block;
    width: 50px;
    margin: 0 auto;
    padding-bottom: 20px; }
  .contacts .contact-item .marker {
    width: 35px; }
  .contacts .contact-item .contact-desc {
    color: #fff; }
    .contacts .contact-item .contact-desc span {
      display: block;
      font-weight: bold;
      color: #fff;
      text-align: center;
      padding-bottom: 5px; }
    .contacts .contact-item .contact-desc a {
      display: block;
      color: #fff;
      text-align: center;
      text-decoration: none; }

.footer {
  padding: 50px 0;
  font-size: 0.99em; }
  .footer a {
    font-size: 0.99em;
    color: #666666;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    display: block; }
  .footer p {
    font-size: 0.85em;
    color: #3498db;
    text-align: center; }

@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 90%; }
  .header .wrapper {
    width: 95%; }
  .header .logo {
    margin-right: 15px; }
  .header .menu a {
    padding: 10px 10px; }
  .about {
    padding-top: 10%; }
  .reg {
    margin: 0 auto;
    width: 97%; }
    .reg input {
      width: 100%; }
  .about {
    width: 97%; }
    .about p {
      width: 97%; }
  .confirm {
    width: 97%; }
  .line-center {
    min-width: 0;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .line-center .course {
      width: 80%; }
  .response-text {
    width: 97%; }
  .media-content {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden; }
    .media-content iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .mentor img {
    height: 30%;
    width: 30%; }
  .mentor .mentor-description {
    width: 50%; } }

@media only screen and (max-width: 960px) {
  .header nav {
    display: none; }
  .burger {
    display: block;
    position: relative;
    top: 24px;
    width: 42px;
    height: 32px;
    background-color: #337ab7;
    border-radius: 3px; }
    .burger span {
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 10px;
      top: 15px; }
    .burger:after, .burger:before {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 10px; }
    .burger:before {
      top: 6px; }
    .burger:after {
      bottom: 6px; }
  .active-menu {
    height: 320px; }
    .active-menu nav {
      display: block;
      width: 300px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 70px; }
      .active-menu nav .menu {
        flex-direction: column;
        justify-content: center;
        justify-content: center; }
        .active-menu nav .menu li {
          text-align: center; }
          .active-menu nav .menu li a {
            padding: 10px 20px; }
            .active-menu nav .menu li a:hover {
              border-radius: 20px 20px; }
  .contacts .line {
    flex-direction: column; }
    .contacts .line .line {
      padding-top: 10px;
      width: 100%;
      justify-content: space-around;
      flex-direction: row; }
  .achievements .line {
    flex-direction: column; }
    .achievements .line .line {
      padding-top: 10px;
      width: 100%;
      justify-content: space-around;
      flex-direction: row; }
  .main-sl-cont {
    width: 100%; } }

@media only screen and (max-width: 850px) {
  .registration .line {
    flex-direction: column; }
    .registration .line .about {
      margin: 0 auto; }
      .registration .line .about h1 {
        font-size: 1.4em; }
      .registration .line .about p {
        font-size: 0.79em; }
    .registration .line .reg {
      padding-top: 30px;
      margin: 0 auto; }
      .registration .line .reg h2 {
        text-align: center;
        font-size: 1.0em; }
      .registration .line .reg .btn {
        width: 70%;
        font-size: 0.9em; }
  .devSlider {
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .devSlider .slick-dots {
      display: flex;
      align-items: start;
      justify-content: center; }
    .devSlider .slick-dots li {
      list-style: none; }
    .devSlider .slick-dots button {
      font-size: 0;
      width: 10px;
      height: 10px;
      padding: 0;
      margin-left: 10px;
      margin-bottom: 35px;
      border: none;
      background-color: #b3b3b3;
      border-radius: 50%; }
    .devSlider .slick-active button {
      background-color: #666666; }
  .mentors .mentor {
    flex-direction: column; }
    .mentors .mentor .mentor-description {
      width: 100%;
      text-align: center; }
      .mentors .mentor .mentor-description p {
        font-size: 0.90em; }
    .mentors .mentor img {
      margin: 0 auto;
      top: 0;
      padding-bottom: 20px; }
  .contact-desc {
    font-size: 0.65em; }
    .contact-desc a {
      font-size: 0.95em; } }

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 98%; }
  .registration .line .about h1 {
    font-size: 1.1em; }
  .registration .line .reg input {
    font-size: 0.84em; }
  .registration .line .reg .btn {
    width: 100%; }
  .develop h2 {
    font-size: 1.2em; }
  .course .description {
    font-size: 0.95em; }
  .mentor img {
    height: 171px;
    width: 160px; }
  .achieve-item img {
    max-width: 85px;
    width: 90%; }
  .achieve-item p {
    font-size: 0.80em; }
  .response .response-text {
    padding: 10px 0px; }
  .response .left {
    padding-top: 4%; } }

/*# sourceMappingURL=myStyle.css.map */
