@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('fonts/open-sans-v20-latin_cyrillic-300.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('fonts/open-sans-v20-latin_cyrillic-700.ttf');
  font-weight: 700;
}

body,p,div,ul,li,a,nav,section,span,h1,h2,h3,h4,h5,input{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #666666;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 25px;
}

.wrapper{
  margin: 0 auto;
  width: 1220px;
  padding: 0 15px;
}

.line{
  min-width: 0;
  display: flex;
  justify-content: space-around;
}

.line-center{
  min-width: 0;
  display: flex;
  justify-content: center;
}

/* header */

.header{
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px #000;
  z-index: 2;
  .line{
    justify-content: space-between;
  }
}

.menu{
  padding-top: 20px;
  list-style-type: none;
  display: flex;
    a{
      height: 40px;
      padding: 10px 20px;
      display: inline-block;
      text-decoration: none;
      &:hover{
        border-radius: 20px 20px;
        background: #337ab7;
        color: #fff;
      }
    }
}

.burger{
  display: none;
}

.registration{
  padding-top: 150px;
  padding-bottom: 30px;
  background: #f7f7f7;
}

.about{
  padding-top: 185px;
  width: 540px;
  text-align: center;
  bottom: 0;
  h1{
    color: #333;
    padding: 0 10px 30px 10px;
    font-size: 25px;
    font-weight: bold;
  }
  p{
    width: 510px;
    text-wrap: normal;
    margin: 0 auto;
  }
}

.reg{
  h2{
    color: #333;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }
  input{
    margin-bottom: 5px;
    height: 50px;
    width: 590px;
    padding: 0 10px;
    display: block;
    &:focus{
      box-shadow: 0 0 5px #00b3ff;
      outline: none;
      border-radius: 5px;
      border: 1px solid #00b3ff;
    }
  }
  .confirm{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;

    input{
      width: 13px;
      height: 13px;
      margin: 0 10px 0 0;
    }
    p{
      a{
        text-decoration: none;
        color: #3b7cac;
      }
    }
  }
  .btn{
    margin: 0 auto;
    width: 370px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    background: #337ab7;
    border: none;
    border-radius: 25px 25px;
  }
}

.develop{
  padding-top: 70px;
  padding-bottom: 120px;
  h2{
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
  }
  .course{
    margin: 0 35px 0 35px;
    img{
      display: block;
      margin: 0 auto;
    }
    .course-title{
      font-size: 1.2em;
      padding-bottom: 15px;
      border-bottom: 1px solid #3498db;
      text-align: center;
    }
    .description{
      padding-top: 30px;
      text-wrap: normal;
      text-align: center;
    }
  }
}

.devSlider1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .slick-dots {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .slick-dots li {
    list-style: none;
  }

  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 35px;
    border: none;
    background-color: #b3b3b3;
    border-radius: 50%;
  }

  .slick-active button {
    background-color: #666666;
  }
}
.devSlider2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .slick-dots {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .slick-dots li {
    list-style: none;
  }

  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 35px;
    border: none;
    background-color: #b3b3b3;
    border-radius: 50%;
  }

  .slick-active button {
    background-color: #666666;
  }
}


.achievements{
  background: #3498db;
  padding-top: 70px;
  padding-bottom: 70px;
  .line{
    justify-content: center;
    .line{
      width: 50%;
    }
  }
  .achieve-item{
    width: 100%;
    img{
      display: block;
      margin: 0 auto;
    }
    span{
      display: block;
      color: #fff;
      font-size: 27px;
      text-align: center;
    }
    .achieve-desc{
      color: #fff;
      text-align: center;
      text-wrap: none;
    }
  }
}

.main-sl-cont{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  img{
    max-width: 30px;
    max-height: 27px;
    height: 15%;
    width: 10%;
  }
  .right{
    align-self: end;
    padding-bottom: 2%;
  }
}

.slide{
  .author{
    text-align: center;
    padding-bottom: 100px;
  }
  .name{
    display: block;
    color: #333;
  }
}

.response{
  padding-top: 70px;
  .response-title{
    font-size: 1.2em;
    text-align: center;
  }
  .response-text{
    display: block;
    padding: 30px 30px;
    width: 760px;
    text-align: center;
  }
}

.slider{
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

.slick-track{
  display: flex;
}

.slider{
  position: relative;
  z-index: 1;
  .slick-dots{
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .slick-dots li{
    list-style: none;
  }
  .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 35px;
    border: none;
    background-color: #b3b3b3;
    border-radius: 50%;
  }
  .slick-active button {
    background-color: #666666;
  }
}

.video{
  background: #f7f7f7;
  padding: 70px 0;
  .video-text{
    h2{
      font-size: 1.2em;
      padding-bottom: 20px;
      text-align: center;
    }
    .video-description{
      text-align: center;
      padding-bottom: 20px;
    }
  }
  .media-content{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin: 0 auto;
  }
}

.mentors{
  padding: 60px 0;
  h2{
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 40px;
  }
  .mentor{
    display: flex;
    flex-direction: row;
    img{
      display: block;
      position: relative;
      top: 30px;
      margin-right: 80px;
    }
    .mentor-description{
      width: 680px;
      h3{
        color: #3498db;
        border-bottom: 1px solid #f7f7f7;
        padding-bottom: 15px;
        margin-bottom: 30px;
      }
      p{
        padding-bottom: 15px;
        text-wrap: normal;
      }
    }
  }
}

.contacts{
  padding: 30px 0;
  background: #3498db;
  .line{
    .line{
      width: 50%;
    }
  }
  .contact-item{
    icon{
      display: block;
      margin: 0 auto;
    }
    i{
      color: #fff;
      font-size: 50px;
      display: block;
      width: 50px;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    .marker{
      width: 35px;
    }
    .contact-desc{
      color: #fff;
      span{
        display: block;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding-bottom: 5px;
      }
      a{
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.footer{
  padding: 50px 0;
  font-size: 0.99em;
  a{
    font-size: 0.99em;
    color: #666666;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    display: block;
  }
  p{
    font-size: 0.85em;
    color: #3498db;
    text-align: center;
  }
}


@media only screen and (max-width : 1280px) {
  .wrapper{
    width: 90%;
  }

  .header{
    .wrapper{
      width: 95%;
    }
    .logo{
      margin-right: 15px;
    }
    .menu{
      a{
        padding: 10px 10px;
      }
    }
  }

  .about{
    padding-top: 10%;
  }
  .reg{
    margin: 0 auto;
    width: 97%;
    input {
      width: 100%;
    }
  }
  .about{
    width: 97%;
    p{
      width: 97%;
    }
  }
  .confirm{
    width: 97%;
  }

  .line-center{
    min-width: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .course{
      width: 80%;
    }
  }

  .response-text{
    width: 97%;
  }

.media-content{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .mentor{
    img{
      height: 30%;
      width: 30%;
    }
    .mentor-description{
      width: 50%;
    }
  }
}


@media only screen and (max-width : 960px) {

  .header{
    nav{
      display: none;
    }
  }

  .burger{
    display: block;
    position: relative;
    top: 24px;
    width: 42px;
    height: 32px;
    background-color: #337ab7;
    border-radius: 3px;
    span{
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 10px;
      top: 15px;
    }
    &:after,&:before{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 10px;
    }
    &:before{
      top: 6px;
    }
    &:after{
      bottom: 6px;
    }
  }

  .active-menu{
    height: 320px;
      nav{
      display: block;
      width: 300px;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      top: 70px;
      .menu{
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        li{
          text-align: center;
          a{
            padding: 10px 20px;
            &:hover{
              border-radius: 20px 20px;
            }
          }
        }
      }
    }
  }

  .contacts {
    .line {
      flex-direction: column;
      .line{
        padding-top: 10px;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
      }
    }
  }

  .achievements {
    .line {
      flex-direction: column;
      .line{
        padding-top: 10px;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
      }
    }
  }

  .main-sl-cont{
    width: 100%;
  }

}

@media only screen and (max-width : 850px) {

  .registration{
    .line{
      flex-direction: column;
      .about{
        margin: 0 auto;
        h1{
          font-size: 1.4em;
        }
        p{
          font-size: 0.79em;
        }
      }
      .reg{
        padding-top: 30px;
        margin: 0 auto;
        h2{
          text-align: center;
          font-size: 1.0em;
        }
        .btn{
          width: 70%;
          font-size: 0.9em;
        }
      }
    }
  }
  .devSlider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .slick-dots {
      display: flex;
      align-items: start;
      justify-content: center;
    }

    .slick-dots li {
      list-style: none;
    }

    .slick-dots button {
      font-size: 0;
      width: 10px;
      height: 10px;
      padding: 0;
      margin-left: 10px;
      margin-bottom: 35px;
      border: none;
      background-color: #b3b3b3;
      border-radius: 50%;
    }

    .slick-active button {
      background-color: #666666;
    }
  }
  .mentors .mentor{
    flex-direction: column;
    .mentor-description{
      width: 100%;
      text-align: center;

    p{
      font-size: 0.90em;
    }
    }
    img{
      margin: 0 auto;
      top: 0;
      padding-bottom: 20px;
    }
  }
  .contact-desc{
    font-size: 0.65em;
    a{
      font-size: 0.95em;
    }
  }
}


@media only screen and (max-width : 640px) {

  .wrapper {
    width: 98%;
  }

  .registration {
    .line{
      .about{
        h1{
          font-size: 1.1em;
        }
      }

      .reg{
        input{
          font-size: 0.84em;
        }
        .btn{
          width: 100%;
        }
      }
    }
  }

  .develop h2{
    font-size: 1.2em;
  }
  .course{
    .description{
      font-size: 0.95em;
    }
  }

  .mentor{
    img{
      height: 171px;
      width: 160px;
    }
  }

  .achieve-item {
   img{
     max-width: 85px;
     width: 90%;
   }
    p{
      font-size: 0.80em;
    }
  }

  .response{
    .response-text {
      padding: 10px 0px;
    }
    .left{
      padding-top: 4%;
    }
  }

  }


@media only screen and (max-width : 320px) {

}
